@import "tailwindcss";

@plugin '@tailwindcss/typography';
@plugin '@tailwindcss/forms';
@import "tailwindcss-animated";
@import "tailwindcss-intersect";

@font-face {
  font-family: "AzoUber";
  src: url("/fonts/Azo_Sans_Uber_Regular.woff2") format("woff2"), url("/fonts/Azo_Sans_Uber_Regular.woff") format("woff"), url("/fonts/Azo_Sans_Uber_Regular.ttf") format("truetype");
  font-feature-settings: "liga" 0, "clig" 0, "dlig" 0, "hlig" 0;
  font-variant-ligatures: none;
}

@font-face {
  font-family: "AzoBold";
  src: url("/fonts/AzoSansTest-Bold.woff2") format("woff2"), url("/fonts/AzoSansTest-Bold.woff") format("woff"), url("/fonts/AzoSansTest-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "AzoRegular";
  src: url("/fonts/AzoSansTest-Regular.woff2") format("woff2"), url("/fonts/AzoSansTest-Regular.woff") format("woff"), url("/fonts/AzoSansTest-Regular.ttf") format("truetype");
}

@theme {
  /* Her tilføjes theme variable // tokens */

  /*Farver */
  --color-White: #ffffff;
  --color-Black: #000000;
  --color-Background: #fbfaf8;
  --color-Beige: #f0ede9;
  --color-Lightblue: #cadff4;
  --color-Darkblue: #6586a1;
  --color-Orange: #ff5900;

  /*Typografi */
  --font-display: "AzoUber", sans-serif;
  --font-regular: "AzoRegular", sans-serif;
  --font-bold: "AzoBold", sans-serif;
}

/* Border */
.border-orange {
  border-color: var(--color-Orange);
}

/* Background color */

.bg-orange {
  background-color: var(--color-Orange);
}

/* Text color */

@layer base {
  .font-display,
  [class*="font-display"] {
    font-feature-settings: "liga" 0, "clig" 0, "dlig" 0, "hlig" 0;
    font-variant-ligatures: none;
  }
}

@layer components {
}

@layer utilities {
}
