---
import MainLayout from "../layouts/MainLayout.astro";
import Link from "../components/Link.astro";
---

<MainLayout title="Titel">
  <main class="container mx-auto p-4">
    <link rel="stylesheet" href="" />
    <div class="mt-6">
      <Link href="/Singleview" variant="primary" size="medium"
        >Gå til singleview</Link
      >
    </div>
  </main>
</MainLayout>
