---
import CalenderCard from "./Calender_card.astro";
import Heading from "./Heading.astro";
---

<section>
  <Heading htmlheading="h2" size="Medium" stylingclasses="ml-20"
    >Tag med på næste eventyr</Heading
  >
  <div class="h-[11px] w-full bg-[var(--color-Lightblue)] mt-2"></div>
  <div class="space-y-8 mt-8">
    <CalenderCard />
    <CalenderCard />
    <CalenderCard />
  </div>
  <div class="h-[11px] w-full bg-[var(--color-Lightblue)] mt-6"></div>
</section>
