---
import Button from "./Button.astro";
import Text from "./Text.astro";
---

<section class="bg-[var(--color-Beige)] py-5 px-4 gap-5 max-w-[400px] md:max-w-[1500px] mx-auto">
  <div class="grid grid-cols-3 md:grid-cols-12 gap-2 md:gap-4 items-center">
    <img src="/img/baad.jpeg" alt="billede p책 b책d" class="w-full h-auto object-cover md:col-span-1" />
    <Text stylingclasses="col-span-2 md:col-span-3 mr-24"> AUSTRALIEN, NEW ZEALAND, VIETNAM, BALI, GILI ISLANDS & LOMBOK </Text>
    <Text> 14/12 - 2025 </Text>
    <Text> 3 m책neder </Text>
    <Text stylingsclasses="col-span-1 row-start-4"> 77.400 DKK </Text>
    <Text> F책 pladser! </Text>
    <a href="#" class="flex justify-end items-top col-span-1">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-4 h-4 md:w-6 md:h-6">
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M14.857 17.082a23.848 23.848 0 0 0 5.454-1.31A8.967 8.967 0 0 1 18 9.75V9A6 6 0 0 0 6 9v.75a8.967 8.967 0 0 1-2.312 6.022c1.733.64 3.56 1.085 5.455 1.31m5.714 0a24.255 24.255 0 0 1-5.714 0m5.714 0a3 3 0 1 1-5.714 0M3.124 7.5A8.969 8.969 0 0 1 5.292 3m13.416 0a8.969 8.969 0 0 1 2.168 4.5"
        ></path>
      </svg>
    </a>
    <Button stylingclasses=" md:col-span-2">Tilmeld dig opholdet</Button>
  </div>
</section>
