---
import Heading from "./Heading.astro";
import Text from "./Text.astro";
---

<section
  class="container relative overflow-visible
  mx-auto
  mt-10
  p-4
  flex
  flex-col
  md:flex-row
  justify-center
  items-center
  gap-10 md:gap-20 sm:mt-20"
>
  <div class="text-center md:text-left relative md:ml-10">
    <img
      src="/img/stamps/australienstamp.webp"
      alt="Stamp illustration of Australia"
      aria-hidden="true"
      class="absolute -z-10 -top-19 sm:-top-15 md:-top-27 -left-17 md:-left-30 w-28 md:w-40 intersect:animate-fade-right intersect:animate-duration[10000ms] intersect:animate-delay-[700ms]"
    />
    <div
      class="intersect:animate-fade-right intersect:animate-duration[10000ms] intersect:animate-delay-[500ms]"
    >
      <Heading
        htmlheading="h2"
        size="Large"
        font="display"
        stylingclasses="mb-10">Destinationer</Heading
      >
    </div>

    <div
      class="intersect:animate-fade-right intersect:animate-duration[10000ms] intersect:animate-delay-[700ms]"
    >
      <Heading htmlheading="h3" size="medium" font="display">Introdage</Heading>

      <Text stylingclasses="mb-5">Dubai/Doha/Brisbane/Bangkok/Singapore</Text>
    </div>
    <div
      class="intersect:animate-fade-right intersect:animate-duration[10000ms] intersect:animate-delay-[900ms]"
    >
      <Heading htmlheading="h3" size="medium" font="display">Australien</Heading
      >
      <Text stylingclasses="mb-5">Byron Bay</Text>
    </div>
    <div
      class="intersect:animate-fade-right intersect:animate-duration[10000ms] intersect:animate-delay-[1000ms]"
    >
      <Heading htmlheading="h3" size="medium" font="display">Japan</Heading>
      <Text stylingclasses="mb-5">Tokyo, Kyoto, Hiroshima, Osaka & Nara</Text>
    </div>
    <div
      class="intersect:animate-fade-right intersect:animate-duration[10000ms] intersect:animate-delay-[1200ms]"
    >
      <Heading htmlheading="h3" size="medium" font="display">Indonesien</Heading
      >
      <Text>Bali, Gili Islands & Nusa Penida</Text>
    </div>
  </div>
  <div class="flex justify-center w-full md:w-auto">
    <script
      src="https://unpkg.com/@lottiefiles/dotlottie-wc@0.8.5/dist/dotlottie-wc.js"
      type="module"></script>
    <dotlottie-wc
      src="https://lottie.host/9bafeac2-3321-4a5f-90a5-094e4804cd17/F7SRVvkva3.lottie"
      style="width: 100%; max-width: 500px; height: auto; aspect-ratio: 1/1;"
      autoplay
      loop></dotlottie-wc>
  </div>
</section>
