---
import Heading from "./Heading.astro";
import Text from "./Text.astro";
---

<section class="lg:mx-30 md:mx-10 my-30">
  <div class="md:grid grid-cols-5 mx-10 md:mx-0">
    <div class="flex justify-between md:justify-center mb-1 md:mb-0 px-10 md:px-0 py-4 bg-[var(--color-Lightblue)] md:bg-[var(--color-Orange)]">
      <Heading htmlheading="h3" size="medium" font="display" stylingclasses="md:text-[var(--color-White)]">OVERBLIK</Heading>
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="var(--color-Orange)" class="size-7 md:hidden">
        <path fill-rule="evenodd" d="M12.53 16.28a.75.75 0 0 1-1.06 0l-7.5-7.5a.75.75 0 0 1 1.06-1.06L12 14.69l6.97-6.97a.75.75 0 1 1 1.06 1.06l-7.5 7.5Z" clip-rule="evenodd"></path>
      </svg>
    </div>
    <div class="flex justify-between md:justify-center mb-1 md:mb-0 px-10 md:px-0 py-4 bg-[var(--color-Lightblue)]">
      <Heading htmlheading="h3" size="medium" font="display" stylingclasses="">PROGRAM</Heading>
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="var(--color-Orange)" class="size-7 md:hidden">
        <path fill-rule="evenodd" d="M12.53 16.28a.75.75 0 0 1-1.06 0l-7.5-7.5a.75.75 0 0 1 1.06-1.06L12 14.69l6.97-6.97a.75.75 0 1 1 1.06 1.06l-7.5 7.5Z" clip-rule="evenodd"></path>
      </svg>
    </div>
    <div class="flex justify-between md:justify-center mb-1 md:mb-0 px-10 md:px-0 py-4 bg-[var(--color-Lightblue)]">
      <Heading htmlheading="h3" size="medium" font="display" stylingclasses="">INKLUDERET</Heading>
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="var(--color-Orange)" class="size-7 md:hidden">
        <path fill-rule="evenodd" d="M12.53 16.28a.75.75 0 0 1-1.06 0l-7.5-7.5a.75.75 0 0 1 1.06-1.06L12 14.69l6.97-6.97a.75.75 0 1 1 1.06 1.06l-7.5 7.5Z" clip-rule="evenodd"></path>
      </svg>
    </div>
    <div class="flex justify-between md:justify-center mb-1 md:mb-0 px-10 md:px-0 py-4 bg-[var(--color-Lightblue)]">
      <Heading htmlheading="h3" size="medium" font="display" stylingclasses="">FAG</Heading>
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="var(--color-Orange)" class="size-7 md:hidden">
        <path fill-rule="evenodd" d="M12.53 16.28a.75.75 0 0 1-1.06 0l-7.5-7.5a.75.75 0 0 1 1.06-1.06L12 14.69l6.97-6.97a.75.75 0 1 1 1.06 1.06l-7.5 7.5Z" clip-rule="evenodd"></path>
      </svg>
    </div>
    <div class="flex justify-between md:justify-center mb-1 md:mb-0 px-10 md:px-0 py-4 bg-[var(--color-Lightblue)]">
      <Heading htmlheading="h3" size="medium" font="display" stylingclasses="">KONTAKT</Heading>
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="var(--color-Orange)" class="size-7 md:hidden">
        <path fill-rule="evenodd" d="M12.53 16.28a.75.75 0 0 1-1.06 0l-7.5-7.5a.75.75 0 0 1 1.06-1.06L12 14.69l6.97-6.97a.75.75 0 1 1 1.06 1.06l-7.5 7.5Z" clip-rule="evenodd"></path>
      </svg>
    </div>
  </div>
  <div class="bg-[var(--color-White)] px-20 py-20 hidden md:block">
    <Heading htmlheading="h4" size="small" font="display" stylingclasses="mb-10">AUSTRALIEN, JAPAN, BALI OG GILI ISLANDS</Heading>
    <div class="grid grid-cols-2 gap-x-20 gap-y-10">
      <Text class="pb-10"
        >Tag med på dit livs eventyr, på vores fantastiske 2 måneders højskoleophold i Australien og Asien. Og glæd dig til at blive en del af et skønt højskolefællesskab, få en masse nye venner, lære
        dig selv bedre at kende og udforske nogle af de mest spændende lande, byer og kulturer i verden. Vi besøger fede storbyer, smukke nationalparker, spændende templer og lækre strande, alt imens
        vi bliver klogere på både os selv og verden omkring os. Vores eventyr starter med nogle hyggelige og oplevelsesrige introdage, hvor vi lærer hinanden bedre at kende gennem spændende og sjove
        fælles aktiviteter. Der bliver naturligvis også tid til at slappe af, shoppe og gå på opdagelse sammen i den storby vi starter højskole-eventyret i.</Text
      >
      <Text class=""
        >I storslåede <strong>Australien</strong>, bor vi i den hippe og ungdommelige surfer-by Byron Bay, der ligger på østkysten i New South Wales. Byen er særligt kendt for sine smukke strande,
        brusende surferbølger og afslappede livsstil og tiltrækker backpackere fra hele verden. Australien er et gigantisk land med både storbyer, lækre strande, bjerge, nationalparker, koralrev,
        ørken og outback – men især den fantastiske natur og det unikke dyreliv, gør landet så fascinerende. Her kan man møde både kænguruer, koalaer, papegøjer, wallabies, pingviner, wombats, den
        tasmanske djævel, emuer og kameler (den er god nok – der er mere end én million vilde kameler i Australien) på sin vej gennem landet “down under”.</Text
      >
      <Text class=""
        >På <strong>Bali</strong> venter et eventyr fyldt med natur, kultur og uforglemmelige oplevelser. En skøn ø, der fortryller sanserne med enestående landskaber, vulkaner i horisonten, tropiske regnskove
        med aber i trætoppene og fede surferbølger, der bare venter på at blive erobret. På Gili Islands gemmer sig et sandt tropeparadis, hvor palmerne svinger blidt i vinden, og de hvide sandstrande
        strækker sig langt ud i horisonten.</Text
      >
      <Text class=""
        >I <strong>Japan</strong> besøger vi både Tokyo, Kyoto og Hiroshima og tager desuden til Osaka på en dagstur, der hver især byder på deres egen version af Japans unikke historie og kultur. Her
        tager vi på opdagelse i pulserende storbyer, hyggelige landsbyer og smukke naturområder. Vi smager på det lækre japanske køkken, besøger hellige templer, ser Mount Fuji, vandrer i de berømte bambus-skove,
        synger karaoke, oplever anime- og manga-kulturen og hvis programmet passer, skal vi naturligvis ind og opleve sumobrydning. Der venter os en unik og kæmpefed kultur-oplevelse i Japan.</Text
      >
    </div>
  </div>
</section>
