---
import Flipcard from "./Flipcard.astro";
import Heading from "./Heading.astro";
---

<section class="my-30">
  <Heading
    htmlheading="h2"
    size="Medium"
    font="display"
    stylingclasses="pb-2 ml-5 md:ml-30">Rejsebreve</Heading
  >
  <article class="grid grid-cols-2 grid-rows-2 mx-5 md:mx-30 gap-2 md:gap-5">
    <Flipcard
      frontImage="/img/Aksel21.webp"
      frontTitle="AKSEL 21 ÅR"
      backText="“Det fedeste for mig var helt klart de aftener vi bare brugte på at lære hinanden at kende, og nød de smukke omgivelser vi befandt os i sammen. ”"
      backTitle="AKSEL 21 ÅR"
      stylingclasses="md:row-span-2 col-span-2 md:row-start-1 md:row-end-3 md:col-start-1 md:col-end-2 md:h-[560px]"
    />
    <Flipcard
      frontImage="/img/Sofia20.webp"
      frontTitle="SOFIA 20 ÅR"
      backText="“Det fedeste ved min rejse, var da vi fik lov til at dykke ved koralrevet i Australien. Det var super smukt, og som om vi kom ned i et andet univers under havets overflade.”"
      backTitle="SOFIA 20 ÅR"
      stylingclasses="md:w-[260px] md:h-auto h-[250px]"
    />
    <Flipcard
      frontImage="/img/Rie19.webp"
      frontTitle="RIE 19 ÅR"
      backText="“Jeg elskede det sammenhold vi fik med hinanden, når vi skulle lave nogle ting der var uden for vores komfort zone”"
      backTitle="RIE 19 ÅR"
      stylingclasses="md:h-[270px]"
    />
  </article>
</section>
